
node_modules
node_modules/*
dist
css/style.css
.DS_Store
foundryconfig.json
modules
grid-output.pdf
filled-output.pdf
__pycache__
*.pyc
.hypothesis
.vscode
.env
*debug*
.venv
.coverage
coverage
/Chronicles
